
<nav>

    <form>
      <label for="id">Identificador</label>
      <input type="number" id="id" disabled="disabled" value="{{id}}">
      <label for="titulo">Título</label>
      <input type=text name="titulo" [(ngModel)]="titulo">
      <label for="compania">Compañia</label>
      <input type=text name="compania" [(ngModel)]="compania">
      <label for="valoracion">Valoración media</label>
      <input type=text name="valoracion" [(ngModel)]="valoracionMedia">
      
      
      <button (click)="add()">Añadir</button>
      <button (click)="vaciarFormulario()">Vaciar formulario</button>
    </form>
</nav>
<div class="tabla">

  <h3>Catálogo de videojuegos</h3>
<table>    
  <thead>
      <tr>
          <th>Id</th>
          <th>Título</th>
          <th>Compañia</th>
          <th>Valoración media</th>
      </tr>
  </thead>
  <tbody>
      
      <tr *ngFor="let v of listaVideojuegos" (click)="seleccionarVideojuegos(v)">
          <td>{{ v.id }}</td>
          <td>{{ v.titulo }}</td>
          <td>{{ v.compania}}</td>
          <td>{{ v.valoracionMedia}}</td>
      </tr>
      <tr *ngIf="listaVideojuegos.length==0">
          <td class="rojo" colspan="4">
              No hay videojuegos disponibles.
          </td>
      </tr>
  </tbody>
</table> 
</div>